@import url('https://fonts.googleapis.com/css2?family=Nunito');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
    font-weight: 600;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

main{
    color: white;
    position: relative;
    width: 60%;
    border: 1px solid black;
    height: 400px;
    background-color: rgb(21, 110, 126);
}
main section{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

/* Entrada de dados */

main .entrada{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .entrada .campo_input{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;   
}

main .entrada .campo_input input{
    width: 100%;
    border: 2px solid rgb(15, 66, 73);
    box-shadow: 1px 1px 5px rgb(65, 64, 64);
    background-color: rgb(20, 90, 102);
    border-radius: 10px;
    padding: 5px;
}

/* botões */
main .entrada .campo_botao{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 10%;
}
main .entrada .campo_botao .botao{
    width: 40%;
    height: 30px;
    color: white;
    background: none;
    border-radius: 15px;
    border: 1px solid white;
    transition: .4s all ease;
    cursor: pointer;
}

main .entrada .campo_botao .botao:hover{
    background-color: white;
    color: rgb(20, 90, 102);
}

<<<<<<< Updated upstream
main .entrada .campo_botao .botao#iniciar{
    position: absolute;
    right: 0;
}
main .entrada .campo_botao .botao#reiniciar{
    position: absolute;
    left: 0;
=======
main .entrada .campo_botao .botao #iniciar{
    position: relative;
    z-index: -2;
>>>>>>> Stashed changes
}

/* Resultado */
main .resultado{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

/* Pontuação */
main .pontuacao{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}

main .pontuacao .pontos{
    border: 2px solid rgb(15, 66, 73);
    box-shadow: 1px 1px 5px rgb(65, 64, 64);
    background-color: rgb(20, 90, 102); 
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    width: 80%;
}